{% include 'header.html' %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Data Produksi Khazzanah</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="/produksikhazzanah">Data</a></li>
              <li class="breadcrumb-item"><a href="/fromproduksikhazzanah">Masukan</a></li>
              <li class="breadcrumb-item active"><a href="/update_data">Update</a></li>
              <li class="breadcrumb-item active"><a href="/hapusproduksikhazzanah">Hapus</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
<!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

           <!-- general form elements -->
           <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Tambah Prduksi</h3>
            </div>
            <!-- form start -->
            <form role="form" action="/simpanformprodukkhazzanah" method="POST">
                <div class="card-body">
                <div class="form-group">
                    <label for="Tanggal">Tanggal</label>
                    <input type="date" class="form-control" name="Tanggal" placeholder="Masukkan tanggal">
                </div>

                <div class="form-group">
                    <label for="Nama_Produk">Nama Produk</label>
                    <input type="text" class="form-control" name="Nama_Produk" placeholder="Nama Produk">
                </div>

                <div class="form-group">
                    <label for="Jenis_Produk">Jenis Produk</label>
                    <input type="text" class="form-control" name="Jenis_Produk" placeholder="JenisProduk">
                </div>

                <div class="form-group">
                    <label for="Warna">Warna Produk</label>
                    <input type="text" class="form-control" name="Warna" placeholder="Warna Produk">
                </div>

                <div class="form-group">
                  <label for="Size">Size Produk</label>
                  <input type="text" class="form-control" name="Size" placeholder="Size Produk">
                </div>

                <div class="form-group">
                    <label for="Jumlah">Jumlah Produk</label>
                    <input type="text" class="form-control" name="Jumlah" placeholder="Jumlah Produk">
                </div>
                
                
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
         
        </div>   
        </div>    
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  {% include 'footer.html' %}